body{
    background-color: azure;
    text-align: center;
    align-items: center;
    
}
div.ma{
    background-position: 50%;
    border: 2px solid black;
     width:200px;
    height: 60px;
    margin: 100px 300px;
    justify-content: center;
	align-items: center;
    
}
div.us{
    background-color: blue;
    text-align: center;
    border: 2px;
    width:200px;
    height: 20px;
}
div.ps{
    background-color: blue;
    text-align: center;
    border: 2px;
     width:200px;
    height: 20px;

}
div.en{
    background-color: aqua;
    text-align: center;
    border: 3px;
     width:200px;
    height: 20px;
}